<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cadwari2dconverter">

        <activity
            android:name=".MainActivity"
            android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Open DXF files from any app -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="*/*"/>
                <data android:pathPattern=".*\\.dwg"/>
                <data android:pathPattern=".*\\.dxf"/>
                <data android:pathPattern=".*\\.dwf"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".ViewerActivity"
            android:hardwareAccelerated="true"
            android:label="CADwari Viewer"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".PrivacyPolicyActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.advocate.geetanjali.gupta.app.cadwari2dconverter.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>



</manifest>